   <!-- Lazyload -->
  <script src="__PUBLIC__/static/js/jquery.min.js"></script>
  <script src="__PUBLIC__/static/js/lazysizes.min.js"></script>


  <script src="__PUBLIC__/static/js/bootstrap.min.js"></script>
  <script src="__PUBLIC__/static/js/easing.min.js"></script>
  <script src="__PUBLIC__/static/js/owl-carousel.min.js"></script>
  <script src="__PUBLIC__/static/js/twitterFetcher_min.js"></script>
  <script src="__PUBLIC__/static/js/jquery.newsTicker.min.js"></script>  
  <script src="__PUBLIC__/static/js/modernizr.min.js"></script>
  <script src="__PUBLIC__/static/js/scripts.js"></script>
